body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.game-container {
    width: 480px;
    height: 480px;
    border: 2px black solid;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.game-container .cell.black {
    background-color: rgb(179, 163, 163);
}

.game-container .cell {
    display: flex
}

.top h1 {
    padding: 0 20px;
    font-size: 64px;
}
.top.black {
    background-color: rgba(0,0,0,.2);
}

.top.white {
    background: rgba(0,0,0,.8);
    color: white
}
.game-container .cell div {
    flex:1;
    display: flex;
}

.game-container .cell div img{
    flex: 1;
}